<div style={{style "proportional" "commit.comment" }}>
  <div style={{style "commit.comment.title"}}>
    <a href="https://github.com/{{.Sender.Login}}"
       title="{{.Sender.Name}}"
       style="{{style "link"}}">
      <img src="{{.Sender.AvatarURL}}"
           width="24"
           height="24"
           border="0"
          style="{{style "commit.comment.sender.avatar"}}"/>{{.Payload.Sender.Login}}
    </a>
    commented on
    <a href="{{.CommitURL}}" style="{{style "link"}}">{{.ShortSHA}}</a> at <a href="{{.Comment.HTML_URL}}" style="{{style "link"}}">{{.Comment.Path}}#L{{.Comment.Line}}</a>:
  </div>
  <div style="{{style "commit.comment.body"}}">{{html .Body}}</div>
</div>
<div style={{style "proportional" "footer"}}>
    Comment {{.Payload.Action}} at <span style="{{style "date"}}">{{.UpdatedDisplayDate}}</span>.
</div>
