{{range .Commits }}
  <div style="{{style "commit"}}">
    <h3 style="{{style "commit.title"}}">
      <a href="{{.URL}}" style="{{style "commit.title.link"}}">{{.Title}}</a>
    </h3>
    {{if .MessageHTML}}
      <div style="{{style "commit.message"}}">{{html .MessageHTML}}</div>
    {{end}}

    <div style="{{style "commit.files"}}">
      {{range .Files }}
        <div style="{{style "commit.files.file"}}">
          <a href="{{.URL}}"
             style="{{style "link" "commit.files.file.link"}}">
          <span style="{{style "commit.files.file.type" .Type.Style}}">
            {{.Type.Letter}}
          </span>{{.Path}}</a>
        </div>
      {{end}}
    </div>

    <div style="{{style "commit.footer"}}">
      <a href="{{.URL}}"
         style="{{style "link" "commit.footer.link"}}">{{.SHA}}</a>

      <span style="{{style "proportional"}}">
        <a href="https://github.com/{{.Commiter.Login}}"
           title="{{.Commiter.Name}}"
           style="{{style "link" "proportional" "commit.footer.commiter.link"}}">
          <img src="{{.Commiter.AvatarURL}}"
               width="24"
               height="24"
               border="0"
              style="{{style "commit.footer.commiter.avatar"}}">{{.Commiter.Login}}
        </a>
        committed at
        <span title="{{.DisplayDateTooltip}}"
           style="{{style "date"}}">{{.DisplayDate}}</span>
      </span>
    </div>
  </div>
{{end}}

<div style={{style "proportional" "footer"}}>
  <a href="{{.Payload.Compare}}" style="{{style "link" "footer.link"}}">
    {{if eq (len .Commits) 1}}1 commit{{end}}{{if ne (len .Commits) 1}}{{len .Commits}} commits{{end}}</a>
  pushed to
  <a href="{{.BranchURL}}" style="{{style "link" "footer.link"}}">{{.BranchName}}</a>
  at
  <span title="{{.PushedDisplayDateTooltip}}"
        style="{{style "date"}}">{{.PushedDisplayDate}}</span>.
  <a href="{{.ExtensionURL}}" style="{{style "footer.extension-link"}}">{{"\u200b"}}</a>
</div>
