{{range .Commits }}
  <div style="{{style "commit"}}">
    <h3 style="{{style "commit.title"}}">{{.Title}}</h3>
    {{if .Message}}
      <pre style="{{style "commit.message"}}">{{.Message}}</pre>
    {{end}}
    <div style="{{style "commit.footer"}}">
      <a href="{{.URL}}"
         style="{{style "link" "commit.footer.link"}}">{{.DisplaySHA}}</a>
      <i title={{.DisplayDateTooltip}}
         style="{{style "proportional" "commit.footer.date"}}">{{.DisplayDate}}</i>
    </div>
    <div style="{{style "commit.files"}}">
      {{range .Files }}
        <div>
          <a href="{{.URL}}"
             style="{{style "link" "commit.files.link"}}">{{.Path}}</a>
        </div>
      {{end}}
    </div>
  </div>
{{end}}
